pyrogram
tgcrypto
py-tgcalls==0.5.5
python-dotenv
youtube_dl
youtube_search_python
requests
aiohttp
aiofiles
asyncio
youtube_search
search_engine_parser
ffmpeg
pillow
future
psutil
wget
h11>=0.16.0 # not directly required, pinned by Snyk to avoid a vulnerability
